section.offering
	h2.offering__caption Пока вы ожидаете <span class='offering__caption--alert'>Книгу Предпринимателя</span> - сделайте ваш <span class='offering__caption--colored'>Личный Бренд</span> уникальным и узнаваемым
	p.offering__take-it Это вы можете <span class='offering__take-it--alert'>Забрать Прямо Сейчас:</span>
	.offering__text
		| <p class='offering__text--special'>Специальная <span class='offering__text--action'>Аукционная Цена</span> в связи с началом Нового года</p>
		| <p class='new-price'>9$</p>
	a.offering__use-it ВОСПОЛЬЗОВАТЬСЯ <span class='offering__use-it--desktop-v'>ПРЕДЛОЖЕНИЕМ</span>
