section.lessons
	h3.lessons__caption "Психология Позиционирования"
	p.lessons__description Успешное позиционирование себя на рынке и построение собственного узнаваемого Бренда
	h4.lessons__header <p class='old-price offering__text'>Обычная стоимость: <span class='old-price__strikeout'>190$</span></p>
	.lesson
		p.lesson__name Урок 1
		h3.lesson__caption Бренд и Личное Позиционирование:
		.points-block
			.points-block__logo--bingo
			ul.points-block__list.lesson-list
				li.lesson-list__point что такое Бренд (Кто Я есть и Кем Я Не Являюсь)
				li.lesson-list__point Гарантии настоящие и мнимые (Страховка против Мастерства)
				li.lesson-list__point Психологическая составляющая Позиционирования
	.lesson
		p.lesson__name Урок 2
		h3.lesson__caption Анализ и Формирование «Позиции»:
		.points-block
			.points-block__logo--handshake
			ul.points-block__list.lesson-list
				li.lesson-list__point анализ вашего предложения, вашей стоимости и своего виртуального следа
				li.lesson-list__point определение вашего клиента (ЦА) - на кого вы влияте, чьи проблемы решаете.
				li.lesson-list__point фото и образ (одежда, навыки, характер)
				li.lesson-list__point программа построения Личного Мастерства
	.lesson
		p.lesson__name Урок 3
		h3.lesson__caption Практические шаги Позиционирования:
		.points-block
			.points-block__logo--lider
			ul.points-block__list.lesson-list
				li.lesson-list__point как учитывать Время и создавать Структуру
				li.lesson-list__point внутренняя позиция и пути наращивания Опыта
				li.lesson-list__point анализ Отговорок
				li.lesson-list__point ступени повышения Мастерства и Квалификации
				li.lesson-list__point Содержание против Формы (когда Бренд не срабатывает и как сделать его работающим на вас 24/7)
	a.lesson__use-it Я ХОЧУ ПОСТРОИТЬ СВОЙ БРЕНД
