section.important-video
	.video-header
		p.video-header__mark ВАЖНО
		h2.video-header__caption Мы сняли для вас короткое видео… Смотрите его сейчас (3:02)
	.important-video__wrapper
		iframe.important-video__video(src="https://www.youtube.com/embed/cQiY4UK_i1o?list=PL42FBC328A8F8F7F8" frameborder="0" allowfullscreen)
