footer.footer
	ul.footer__privacy-list.privacy
		li.privacy__point
			a Политика конфиденциальности
		li.privacy__point
			a Отказ от ответственности
		li.privacy__point
			a Согласие с рассылкой
	ul.soc
		li
			a.soc-youtube
		li
			a.soc-facebook
		li
			a.soc-instagram
		li
			a.soc-vkontakte.soc-icon-last
