section.greeting
	img.greeting__icon(src="images/book.png")
	h2.greeting__message.message
		| СУПЕР! ЧАСТЬ <a class="message__link" href="#" >КНИГИ</a> И ВСЕ ПОДРОБНОСТИ ОТПРАВЛЕНЫ ВАМ НА ПОЧТУ (ЗАЙМЕТ НЕ БОЛЕЕ 5-ТИ МИНУТ)
